p > label,
p > input {
  display: block;
}

header h1,
header h2,
header h3 {
  display: inline;
}

button + button {
  margin-left: 0.5rem;
}

label + label {
  margin-left: 1rem;
}

h1 {
  font-size: large;
}
h2 {
  font-size: xx-large;
}
